<br>
<h2> <%= @user.username %> </h2>
<% if @user.rank == nil %>
    <h3> Rank: 1 </h3>
<%end%>

<% if @user.expertise == nil %>
    <%=render partial: 'form'%>
<%else%>
    <%=render partial: 'profile'%>
<%end%>

