<br>
<h2> <%= @user.username %> </h2>
<% if @user.rank == nil %>
    <% @user.rank = 0 %>
    <h3> Rank: <%=@user.rank%> </h3>
<%end%>


<% if @user.expertise == nil %>
    <%=render partial: 'form'%>
<%else%>
    <%=render partial: 'profile'%>
<%end%>

